@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --bg-gradient: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    --text-gradient: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    --light-gray: #4F4F4F;
    --secondary-gray: #828282;
    --primary-font:#240D57;
    --primary-radius:10px;
    --primary-header:64px;
    --primary-line-height:64px;
    --body-bg:#DDDDDD;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica';
    font-style: normal;
}




html {
  background-color: #ffffffc7;
}


.box-shadow-image{
  filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
}